@import "src/styles/general-styling";

.create-member-page{

  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  max-width: 400px;

  h1{
    @include h1();
  }
  label{
    @include label();
  }
  input{
    @include input();
  }

  .submit{
    @include submitButton();
    width: 100%;
    text-align: center;
  }

  .error{
    color:tomato;
  }

  .invalid{
    border-bottom: 1px solid tomato;
  }

  .server-error{
    background: rgba(255, 99, 71, 0.3);
    border: 1px solid tomato;
    color:tomato;
    display: none;
  }
  .visible{
    display: block;
  }
}