@import "src/styles/general-styling";

.forgot-password-container{
  @include form();
}

.invisible{
  display: none;
}

.submit-message{
  @include submitButton();
  color: #333333;
  text-align: center;
}