
@import url("https://fonts.googleapis.com/css?family=Kulim+Park|Montserrat|Rubik&display=swap");

$blue-color: #2E4158;
$black-color: #333333;
$white-color: white;
$accent-color: #52C4B9;


$nav-text:'Kulim Park', sans-serif;
$header-text:'Rubik', sans-serif;
$body-text:'Montserrat', sans-serif;
$button-text:'Montserrat', sans-serif;

$standard-padding: 15px 0;

$small-tablet-breakpoint: 620px;
$laptop-breakpoint: 960px;
$large-desktop-breakpoint: 1200px; 
