@import url("https://fonts.googleapis.com/css?family=Kulim+Park|Montserrat|Rubik&display=swap");

$blue-color: #2E4158;
$black-color: #333333;
$white-color: white;
$accent-color: #52C4B9;


$nav-text: 'Kulim Park', sans-serif;
$header-text: 'Rubik', sans-serif;
$body-text: 'Montserrat', sans-serif;
$button-text: 'Montserrat', sans-serif;

$standard-padding: 15 0;
$max-width: 600px;

$small-tablet-breakpoint: 620px;
$laptop-breakpoint: 960px;
$large-desktop-breakpoint: 1200px;


@mixin h1 {
  font-family: $header-text;
  font-size: 40px;
  text-align: center;
  color: $white-color;
  margin: 60px 0 20px 0;
}

@mixin label {
  text-transform: uppercase;
  font-size: 1em;
  color: $white-color;
  margin: 40px 0 5px 0;
  display: inline-block;

}

@mixin input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: $white-color;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 0.9em;
  font-weight: 300;
  padding-bottom: 5px;
}

@mixin submitButton {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 0;
  font-weight: 300;
  cursor: pointer;
  margin: 40px 0;
  font-size: 1em;
  flex-grow: 1;
}

@mixin form {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  max-width: 400px;

  h1 {
    @include h1();
  }

  label {
    @include label();
  }

  input {
    @include input();
  }

  .submit {
    @include submitButton();
    width: 100%;
    text-align: center;
  }

  .error {
    color: tomato;
  }

  .invalid {
    border-bottom: 1px solid tomato;
  }
  .server-error {
    background: rgba(255, 99, 71, 0.3);
    border: 1px solid tomato;
    color: tomato;
    display: none;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
  }
  .visible {
    display: block;
  }
}

@mixin select {
  padding: 5px;
  margin-top: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    cursor: pointer;
  }
}

@mixin circle-pagination {
  .circle-container {
    margin: 20px auto;
  }

  .circle {
    vertical-align: middle;
    margin: auto 5px;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }

  .current-page {
    height: 15px;
    width: 15px;
    background-color: $accent-color;
  }
}

@mixin successful-message-button {
  .successful-message {
    margin-bottom: 5px;
    text-align: center;
    font-size: 1em;
    color: #333333;
  }
}

.homepage-link {

  font-size: 1em;
  color: #333333;

  &:hover {
    color: white;
  }
}

.invisible {
  display: none;
}

@mixin sub-title() {
  font-weight: bold;
  font-size: 1.4em;
  color: white;
  margin-bottom: 20px;
}

@mixin cancelButton() {
  background: none;
  border: 1px solid tomato;
}
.invalid-select {
  border: 2px solid tomato;
}

.invalid {
  border-bottom: 1px solid tomato;
}