@import './general-styling.scss';

nav {
  width:100%;
  background-color: $black-color;
  padding: $standard-padding;

}

.nav-container{
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-family: $nav-text;
  max-width: $max-width;
  margin: 0 auto;
  padding: 10px;
}

.main-nav-elements {
  display: flex;

}

.nav-element {
  text-decoration: none;
  color: $white-color;
  padding: 0 20px;

  &:hover {
    color: gray;
  }
}